<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>

    {% if success %}
        <p>{{ success }}</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {{ field.errors }}
        {% endfor %}
        <button type="submit">Send</button>
    </form>
</body>
</html>